@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,600);

body {
    background: #1D1D1D;
    font-family: "Roboto";
}

.btn {
    font-family: Arial;
    color: #ffffff;
    background: #004557;
    padding: 10px 20px 10px 20px;
    border: none;
    text-decoration: none;

    font-family: "Roboto";
    font-weight: 100;
    font-size: 1em;
}

.btn:hover {
    background: #00A4A4;
    text-decoration: none;
}

p {
    color: #c7cdd5;
    text-align: center;
    margin: 0.5em 1em;
    font-weight: 100;
    font-size: 1em;
}

.Wheel {

    float: left;
}


.panwh{
    display: table;
    margin: 0 auto;

}


.stuff {
    padding: 50px 0px 0px;
    max-width: 900px;
    margin: auto;
}

/* panel */
.panel {
    display: table;
    margin: 0 auto;
    border:2px solid #161616;
    width:80%;
      background: #161616;
}
.panel h2 {
    padding:4px;
    color:#fff;
    margin:0;
    background-color:#161616;
    font-size: 1em;
}

